[Unit]
Description=Manage Java service

[Service]
WorkingDirectory=<base_path>
ExecStart=/bin/java -jar <jar_file> --spring.config.location=file:<config_path>/application.properties -DconfigDirectory=<config_path> -DuseSwagger=true -Ddatabase_IP=192.168.0.134 -DdbName=idgfid -DdbUser=USjUMGrm6abUc9UH6FKbpA== -DdbPwd=eAhLD1FtIzrE1qUmCssnHA== -DdataSource=idgfid -DkeyPath=/opt/config
User=jvmapps
Type=simple
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
